
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome Page</title>

    <!-- Bootstrap core CSS -->
    <%- include("./_share/stylesheets.ejs") %>

  </head>

  <body>

    <%- include("./_share/navbar.ejs") %>

    <main role="main" class="container">

      <div class="border-bottom mt-5 mb-5">
        <h1>ようこそ、weblogへ</h1>
      </div>
      <p>test</p>

    </main><!-- /.container -->

    <%- include("./_share/javascripts.ejs") %>
  </body>
</html>
